<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый читатель</title>
</head>
<body>
    <h2><div style="text-align: center;">Карточка нового читателя</div></h2>
    <hr>
    <form th:method="POST" th:action="@{/people}" th:object="${person}">
        <label for="name"></label><input type="text" th:field="*{name}" id="name" placeholder="Имя и Фалилия"/>
        <br>
        <label for="birthYear"></label><input type="text" th:field="*{birthYear}" id="birthYear" placeholder="Год рождения"/>
        <br>
        <input type="submit" value="Зарегистрировать"/>
    </form>

    <button onclick="document.location='/people'">Назад</button>
</body>
</html>
